@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 40vw;
    background-image: url('../images/hero_desktop.jpeg');
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;

    &__content {
        max-width: 450px;

        &__branding {
            max-width: 240px;
            margin: 0 auto;
        }

        .title--small {
            margin-bottom: 16px;
        }

        p {
            margin-bottom: 16px;

            &:last-child {
                margin-top: 16px;
            }
        }

        &__combos {
            display: flex;
            justify-content: space-between;

            &__combo {
                width: calc(50% - 12px);

                img {
                    max-height: 50px;
                }

                button {
                    display: block;
                    width: 100%;
                    height: 32px;
                    font-size: 16px;
                    color: variaveis.$CorTextoSecundario;
                    background-color: #6421ff;
                    text-transform: uppercase;
                    border-radius: 4px;
                    margin-top: 2vw;
                    margin-bottom: 8px;
                    cursor: pointer;
                }
            }
        }
    }
}